* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial, sans-serif';
    background-color: #eee9d8;
}

.container {
    width: 60%;
    height: auto;
    margin: auto;
    background-color: white;
    padding: 10px;
}

.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    min-height: 250px;
    border: 1px solid rgb(207, 201, 201);
    border-radius: 10px;
}

h1 {
    padding: 20px 0 20px 0;
    text-transform: uppercase;
}

h2 {
    padding: 15px 0 15px 0;
    text-transform: uppercase;
}

h3 {
    padding: 10px 0 10px 0;
    text-transform: uppercase;
}

p {
    padding: 10px 0 10px 0;
    font-size: 20px;
    font-family: 'Arial, sans-serif';
}

.note {
    background-color: #e3e5e9;
    padding: 20px;
    border-radius: 20px;
}

ul {
    font-size: 20px;
    padding-left: 50px;
}

.center {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    gap: 7px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

.basic a, .descriptive a, .inferential a, .reference a {
    display: block;
    background-color: #6A86C3;
    width: 150px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
}

.basic a:hover,
.descriptive a:hover,
.inferential a:hover,
.reference a:hover {
    background-color: #4469A6;
}

.basic a:visited {
    background-color: #0F4A92;
}

/* Back, Home & Forward Button */
.flex-container {
    display: flex;
    text-align: center;
    gap: 20px;
}

.back, .home, .forward {
    flex: 33%;
    background-color: #6A86C3;
    max-width: 228px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.back a, .home a, .forward a {
    display: block flex;
    font-size: 20px;
}
/* Back, Home & Forward Button */

hr {
    border: 1px solid rgb(209, 199, 199);
    margin: 20px;
}

@media only screen and (max-width: 1250px) {
    .container {
        width: 100%;
        margin-top: 0;
    }

    .basic a, .descriptive a, .inferential a, .reference a {
       
        width: 300px;
        
    }

    .grid-container {
        grid-template-columns: auto;
    }
}